@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

header {
  padding: 1.3rem 3rem;
  display: grid;
  grid-template-columns: 65% 1fr;
}

.container-header-span {
  justify-self: unset;

  @include displayFlex(initial, space-evenly, center);
  span {
    color:#71797E;
    font-style: normal;
    cursor: pointer;
    font-family: $tertiary-font;

    &:hover {
      border-bottom: 1px solid $main-blue;
    }
  }
}
