@import '../../styles/variables.scss';

header {
  padding: 1.3rem 3rem;
  display: grid;
  grid-template-columns: 65% 1fr;
}

.container-header-span {
  display: flex;
  justify-self: unset;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Roboto', sans-serif;

  span {
    color:#71797E;
    font-style: normal;
    cursor: pointer;
    font-family: 'DinRound Dark', sans-serif;
  }
}
