@charset 'UTF-8';
@import '../../styles/variables.scss';

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  width: 100%;
  background: #fff;
  border-radius: 24px;
  padding: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
.profile-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 36%;
  width: 100%;
  border-radius: 24px 24px 0 0;
  background-color: $main-blue;
}
.image {
  position: relative;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-color: $main-blue;
  padding: 3px;
  margin-bottom: 10px;
}
.image .profile-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.profile-card .description {
  display: flex;
  align-items: center;
  margin-top: 14px;
  font-size: 16px;
  font-family: DinRound Medium;
  text-align: center;
  line-height: 30px;
  color: #9d9488;
}

.profile-card .informations-people {
  display: flex;
  align-items: center;
  margin-top: 25px;
  display: flex;
  flex-flow: column wrap;
  gap: 15px;


  > span {
    font-size: 16px;
    font-family: DinRound Medium;
    margin-right: 10px;

    &:first-child {
      color: #9d9488;
    }

    &:last-child {
      color: #000;
    }
  }
}
