@import '../../styles/variables.scss';

main {
  background-image: url('../../../public/images/main-details-bg-banner.svg');
  background-color: $blue-banner;
}

.container-main-informations {
  display: grid;
  grid-template-columns: 40% 1fr;
  padding: 3rem 0 0 2rem;

  h1 {
    font-size: 3rem;
    color: white;
    font-weight: 900;
    line-height: 4rem;
    font-family: 'DinRound Dark', sans-serif;
    letter-spacing: -2px;
  }

  .main-content-left {
    padding: 3rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 13px;

    span {
      color: white;
      line-height: 30px;
      font-family: 'DinRound Medium', sans-serif;
    }

    button {
      width: 150px;
      border: none;
      border-radius: 10px;
      padding: 10px;
      background-color: white;
      color: $main-blue;
      font-weight: 900;
      font-size: medium;
      font-family: 'DinRound Medium', sans-serif;
    }
  }

  .main-content-right {
    justify-self: center;
    img {
      position: relative;
      top: 3px;
    }
  }
}
