<div>

  <section class="container-informations-curriculum">
    <aside>
      <img src="images/curriculum.svg" alt="currículo alinhado a padrões de aprendizagem no Duolingo Schools">
    </aside>
    <aside>
      <h3>currículo alinhado a padrões de aprendizagem</h3>
      <span>O Duolingo for Schools utiliza o mesmo currículo do Duolingo e você ainda pode filtrar pelos padrões CEFR e
        ACTFL. Assim você encontra o conteúdo de que precisa para ensinar.</span>
    </aside>

  </section>

  <section class="personalized-tasks">
    <aside>
      <h3>tarefas divertidas e personalizadas</h3>
      <span>As tarefas combinam o melhor da inteligência artificial e da ciência da aprendizagem para encontrar o nível
        e o ritmo certos para cada aluno. E eles adoram os desafios e os recursos que lembram jogos!</span>
    </aside>
    <aside>
      <img src="images/personalized-tasks.svg" alt="Tarefas divertidas e personalizadas no Duolingo Schools">

    </aside>

  </section>
  <section class="informations-about-progress-students">
    <aside>
      <img src="images/info-about-students.svg" alt="informações sobre o progresso dos alunos">
    </aside>
    <aside>
      <h3>informações sobre o progresso dos alunos</h3>
      <span>Veja o desempenho dos seus alunos com informações como nível de acertos e tempo dedicado aos estudos.</span>
    </aside>
  </section>
</div>