<app-header />
<app-banner />
<app-informations />
<app-depositions />

<section class="messages-to-teachers-container">
  <h2>mensagem aos professores</h2>
  <small>Um agradecimento do nosso CEO e cofundador.</small>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/E6hadnnW-JE?si=8k8iAPd8g0UYwyuz"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</section>

<footer>
  <ul>
    <li>Duolingo</li>
    <li>Sobre</li>
    <li>Carreiras</li>
    <li>Aplicativos</li>
    <li>Ajuda</li>
    <li>Termos de uso</li>
    <li>Privacidade</li>
    <li>Facebook</li>
    <li>Twitter</li>
  </ul>
</footer>
